.nc-render-display-wrapper-container {
    margin: 0 0 0.2rem 0;
    box-shadow: 0 0 0.5rem color(shadow-0);
    border: 1px solid color(border-0);
}

.nc-render-display-canvas {
    background-color: #00000000;
    display: block;
}
